<!DOCTYPE html>
<html>
<head>
  <title>Dustin Miner</title>
  <link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
  <h1>Dustin Miner</h1>
  <h2>Wind Technician</h2>

  <ul>
    <li>
      <a href="/about">About</a></li>
    <li>
      <a href="/portfolio">Portfolio</a></li>
    <li>
      <a href="contact">Contact<a/></li>
  </ul>

  <%= yield %>
</body>
</html>




